<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UPC.Demo.DA.Properties.Settings.upcdemoConnectionString"
            connectionString="Data Source=dbupcaad.c7hd087gmch2.us-east-2.rds.amazonaws.com;Initial Catalog=upcdemo;Persist Security Info=True;User ID=admin;Password=password"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>